<html lang="dk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wasteland</title>
    <link rel="favicon" type="image/x-icon" href="../../../../images/website-favicon-black-96px.png">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="#Wasteland" >Wasteland</a>
    <a href="#Blog">Nyheder</a>
    <a href="#Marketplace">Markedsplads</a>
    <a href="#About" class="active">Om os</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</body>
</html>