<html lang="dk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wasteland</title>
    <link rel="favicon" type="image/x-icon" href="../../../../images/website-favicon-black-96px.png">
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a href="index.html" >Wasteland</a>
        <a href="blog.html">Nyheder</a>
        <a href="marketplace.html">Markedsplads</a>
        <a href="aboutus.html" class="active">Om os</a>
    </div>

    <img src="../../../../images/website-favicon-black.png">
    <h1>W A S T E L A N D</h1>

    <h2>Fra <span style="color: #241623">skrald</span> til <span style="color: #FCAA67">guld</span></h2>

    <div class="bigger-container">


        <h2>Græder du også over spildt mælk?</h2>

        Alt for meget mad går til spilde i Danmark. Wasteland kan hjælpe! Det gør vi ved at forbinde mennesker - et eller andet sted derude er der en person eller organisation der kan bruge det du er ved at smide ud, eller nogen der har noget tilovers du har evnerne/ideerne/muligheden for at udnytte. Sådan laver vi skrald til guld.

        <h2>Hvordan fungerer det?</h2>
        <p>Wasteland er en slags markedsplads, hvor du kan oprette annoncer for fødevarer du ikke kan nå at bruge, ikke kan sælge af forskellige grunde eller bare har lyst til at donere, og lade privatpersoner eller organisationer hente det. Som udgangspunkt gratis men det er ikke et krav. Det er også muligt at oprette annoncer hvor man efterspørger bestemte ting, og det er muligt at sætte annoncer op for enten engangsafhentninger eller faste aftaler - måske din børnehave eller café kan lave banankage med det lokale supermarkeds brune bananer en gang om ugen?</p>

        <p>Derudover rummer Wasteland nyheder og info om madspild, tips og tricks til at udnytte dit affald ol. Så er det nemmere at se hvad du kan bruge og hvordan, og flere annoncer bliver relevante for flere mennesker.</p>

        Wasteland er udviklet i samarbejde med og støttet af organisationen Danmark mod Madspild. Wasteland er non-profit og primært finansieret af donationer, fondsmidler og frivilligt arbejde.
    </div>
</body>
</html>