<html lang="dk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wasteland</title>
    <link rel="icon" type="image/x-icon" href="../../../../images/website-favicon-black-96px.png">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="index.html" >Wasteland</a>
        <a href="blog.html" class="active">Nyheder</a>
        <a href="marketplace.html">Markedsplads</a>
        <a href="aboutus.html">Om os</a>
    </div>

    <div class="container">
        <div class="article">
            <div class="article">
                <h3>Madspild i hjemmet</h3>
                <div class="blogimgcontainer">
                    <img src="../../../../images/foedevarer.jpg" alt="et billede">
                </div>
                <p>

                    De danske husholdninger står for godt 36 % af Danmarks årlige madspild, hvilket udgør 260.000 tons pr. år. I forhold til den samlede mængde husholdningsaffald, udgør madspild godt 24 %, hvilket i vægt løber det op på 105 kg madspild pr. husholdning om året – dette tal varierer dog afhængig af husholdningsstørrelse og sammensætning. Eksempelvis er madspildet 40 % større i etageboliger end i enfamiliehuse, hvilket bl.a kan skyldes at det er vanskeligt at købe små portioner i super markederne. Danskerne smider hovedsageligt frisk frugt, friske grønsager, brød, pålæg og middagsrester ud.

                    Madspild i husholdningerne bliver bl.a. produceret som en konsekvens af, at husholdninger forhandler gøremål og ønsker i et hverdagsliv med flere modstridende udfordringer. Aftensmaden er et socialt samlingspunkt for mange danske familier og madlavning kan være et medium til at vise omsorg på og for store indkøb af frugt og grønt kan skyldes gode intentioner om at spise sundt. Derudover kan frugt og grønt spildet også skyldes mangel på tid og viden om korrekt opbevaring. Der laves ofte for store portioner mad, som ikke bliver spist dagen efter og derudover spiller forvirring omkring datomærkninger også ind.

                    Årsager til at mad bliver til madspild varierer betydeligt og relaterer sig bl.a. til alder, husholdningsstørrelse, børn i husstanden, rådighed af tid, kræsenhed, omsorgsdragelse og madkundskab. Handlinger og beslutninger der forebygger madspild er integreret i flere madrelaterede sammenhænge såsom indkøb, planlægning, madlavning, og opbevaring. Viljen til at forebygge madspild fejler ikke noget, og danske forbrugere mener, at madspild er forkert, men en fjerdedel af adspurgte danskere ved ikke, hvordan de skal forebygge eller reducere mængderne.

                    Forebyggelse af madspild i husholdningerne har været et stort fokusområde både fra frivillige organisationer og politisk side. Således findes der et stort udvalg af initiativer på området hvilket bl.a. indebærer apps med råd og tips til forebyggelse, større informationskampagner, kogebøger om restemad, undervisningstilbud mm.
                </p>
        </div>
    </div>
</body>
</html>