<html lang="dk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wasteland</title>
    <link rel="icon" type="image/x-icon" href="../../../../images/website-favicon-black-96px.png">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="index.html" >Wasteland</a>
    <a href="blog.html" class="active">Nyheder</a>
    <a href="marketplace.html">Markedsplads</a>
    <a href="aboutus.html">Om os</a>
</div>

<div class="container">
        <div class="article">
            <h2>Madspild i hjemmet</h2>
                <div class="blogimgcontainer">
                    <img src="../../../../images/foedevarer.jpg" alt="'Mindst holdbar til' fødevarer">
                </div>
            <p>De danske husholdninger står for godt 36 % af Danmarks årlige madspild, hvilket udgør 260.000 tons pr. år. I forhold til den samlede mængde husholdningsaffald, udgør madspild godt 24 %, hvilket i vægt løber det op på 105 kg madspild pr. husholdning om året – dette tal varierer dog afhængig af husholdningsstørrelse og sammensætning. Eksempelvis er madspildet 40 % større i etageboliger end i enfamiliehuse, hvilket bl.a kan skyldes at det er vanskeligt at købe små portioner i super markederne. Danskerne smider hovedsageligt frisk frugt, friske grønsager, brød, pålæg og middagsrester ud.</p>
            <button onclick="window.location.href = './blogarticle1.html';">Se mere</button>
        </div>

    <div class="article">
        <h2>Lav din egen kompost</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/kompost.jpg" alt="Kompost af have- og madaffald">
        </div>
        <p> Laver du selv kompost kan du bruge dit eget haveaffald og dit organiske affald fra køkkenet til at gøde din have med. Det sparer dig både penge og tid, når du ikke skal købe gødning, og du ikke længere behøver at køre på genbrugspladsen så tit. Derudover er der også en stor tilfredsstillelse i, at du kan bruge dit eget haveaffald til at gøde planterne med.
            Kompost er halvt eller helt omsat organisk materiale, som du kan bruge til at forbedre jorden i din have med. De planter, grene og madaffald, der bliver nedbrudt i komposten, rummer en række næringsstoffer, som du kan bruge i haven. Det er først og fremmest kalium, kalk og fosfor. Du kan derfor spare penge på gødning, når du laver din egen kompost.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Hvad er containermad?</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/meatmosaic.jpeg" alt="Mosaik af udsmidt pålæg udstillet på gulv">
        </div>
        <p>Fænomenet kaldes skraldning eller dumpster diving. En person, der gør det, kaldes en skralder, og den mad, der tages fra containeren, kaldes skraldemad.
            Skraldere er oftest mennesker med ideologiske grunde – så som at mindske madspild – og studerende, der ved at skralde får SU’en til at række længere.
            Jeg er selv skralder og har derfor mange erfaringer med det. Noget mad er selvfølgelig råddent og klamt, men langt størstedelen af det, der kan findes i containerne, er ganske fint.
            For at sætte det i perspektiv kan du prøve at tænke på den mad, du har i køleskabet lige nu. Noget af det er måske lidt blødt eller tæt på sidste holdbarhedsdato. Det ville du ikke betale for, hvis du så det i supermarkedet, vel? Men du vil gerne spise det, nu hvor du har købt det.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Madspild i hjemmet</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/foedevarer.jpg" alt="et billede">
        </div>
        <p>De danske husholdninger står for godt 36 % af Danmarks årlige madspild, hvilket udgør 260.000 tons pr. år. I forhold til den samlede mængde husholdningsaffald, udgør madspild godt 24 %, hvilket i vægt løber det op på 105 kg madspild pr. husholdning om året – dette tal varierer dog afhængig af husholdningsstørrelse og sammensætning. Eksempelvis er madspildet 40 % større i etageboliger end i enfamiliehuse, hvilket bl.a kan skyldes at det er vanskeligt at købe små portioner i super markederne. Danskerne smider hovedsageligt frisk frugt, friske grønsager, brød, pålæg og middagsrester ud.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Lav din egen kompost</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/kompost.jpg" alt="Kompost af have- og madaffald">
        </div>
        <p> Laver du selv kompost kan du bruge dit eget haveaffald og dit organiske affald fra køkkenet til at gøde din have med. Det sparer dig både penge og tid, når du ikke skal købe gødning, og du ikke længere behøver at køre på genbrugspladsen så tit. Derudover er der også en stor tilfredsstillelse i, at du kan bruge dit eget haveaffald til at gøde planterne med.
            Kompost er halvt eller helt omsat organisk materiale, som du kan bruge til at forbedre jorden i din have med. De planter, grene og madaffald, der bliver nedbrudt i komposten, rummer en række næringsstoffer, som du kan bruge i haven. Det er først og fremmest kalium, kalk og fosfor. Du kan derfor spare penge på gødning, når du laver din egen kompost.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Hvad er containermad?</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/meatmosaic.jpeg" alt="Mosaik af udsmidt pålæg udstillet på gulv">
        </div>
        <p>Fænomenet kaldes skraldning eller dumpster diving. En person, der gør det, kaldes en skralder, og den mad, der tages fra containeren, kaldes skraldemad.
            Skraldere er oftest mennesker med ideologiske grunde – så som at mindske madspild – og studerende, der ved at skralde får SU’en til at række længere.
            Jeg er selv skralder og har derfor mange erfaringer med det. Noget mad er selvfølgelig råddent og klamt, men langt størstedelen af det, der kan findes i containerne, er ganske fint.
            For at sætte det i perspektiv kan du prøve at tænke på den mad, du har i køleskabet lige nu. Noget af det er måske lidt blødt eller tæt på sidste holdbarhedsdato. Det ville du ikke betale for, hvis du så det i supermarkedet, vel? Men du vil gerne spise det, nu hvor du har købt det.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Madspild i hjemmet</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/foedevarer.jpg" alt="et billede">
        </div>
        <p>De danske husholdninger står for godt 36 % af Danmarks årlige madspild, hvilket udgør 260.000 tons pr. år. I forhold til den samlede mængde husholdningsaffald, udgør madspild godt 24 %, hvilket i vægt løber det op på 105 kg madspild pr. husholdning om året – dette tal varierer dog afhængig af husholdningsstørrelse og sammensætning. Eksempelvis er madspildet 40 % større i etageboliger end i enfamiliehuse, hvilket bl.a kan skyldes at det er vanskeligt at købe små portioner i super markederne. Danskerne smider hovedsageligt frisk frugt, friske grønsager, brød, pålæg og middagsrester ud.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Lav din egen kompost</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/kompost.jpg" alt="Kompost af have- og madaffald">
        </div>
        <p> Laver du selv kompost kan du bruge dit eget haveaffald og dit organiske affald fra køkkenet til at gøde din have med. Det sparer dig både penge og tid, når du ikke skal købe gødning, og du ikke længere behøver at køre på genbrugspladsen så tit. Derudover er der også en stor tilfredsstillelse i, at du kan bruge dit eget haveaffald til at gøde planterne med.
            Kompost er halvt eller helt omsat organisk materiale, som du kan bruge til at forbedre jorden i din have med. De planter, grene og madaffald, der bliver nedbrudt i komposten, rummer en række næringsstoffer, som du kan bruge i haven. Det er først og fremmest kalium, kalk og fosfor. Du kan derfor spare penge på gødning, når du laver din egen kompost.</p>
        <button>Se mere</button>
    </div>

    <div class="article">
        <h2>Hvad er containermad?</h2>
        <div class="blogimgcontainer">
            <img src="../../../../images/meatmosaic.jpeg" alt="Mosaik af udsmidt pålæg udstillet på gulv">
        </div>
        <p>Fænomenet kaldes skraldning eller dumpster diving. En person, der gør det, kaldes en skralder, og den mad, der tages fra containeren, kaldes skraldemad.
            Skraldere er oftest mennesker med ideologiske grunde – så som at mindske madspild – og studerende, der ved at skralde får SU’en til at række længere.
            Jeg er selv skralder og har derfor mange erfaringer med det. Noget mad er selvfølgelig råddent og klamt, men langt størstedelen af det, der kan findes i containerne, er ganske fint.
            For at sætte det i perspektiv kan du prøve at tænke på den mad, du har i køleskabet lige nu. Noget af det er måske lidt blødt eller tæt på sidste holdbarhedsdato. Det ville du ikke betale for, hvis du så det i supermarkedet, vel? Men du vil gerne spise det, nu hvor du har købt det.</p>
        <button>Se mere</button>
    </div>
</div>
</body>
</html>