<html lang="dk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wasteland</title>
    <link href="marketstyle.css" rel="stylesheet">
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="./index.html" >Wasteland</a>
    <a href="./blog.html">Nyheder</a>
    <a href="Marketplace" class="active">Markedsplads</a>
    <a href="./aboutus.html">Om os</a>
</div>

<div class="container">
    <div class="item">
        <img src="../../../../images/150.png" alt="Item 1">
        <h3>Vare 1</h3>
        <p>Beskrivelse af vare 1</p>
        <button>Se mere</button>
    </div>
    <div class="item">
        <img src="../../../../images/150.png" alt="Item 2">
        <h3>Vare 2</h3>
        <p>Beskrivelse af vare 2</p>
        <button>Se mere</button>
    </div>
    <div class="item">
        <img src="../../../../images/150.png" alt="Item 3">
        <h3>Vare 3</h3>
        <p>Beskrivelse af vare 3</p>
        <button>Se mere</button>
    </div>
    <div class="item">
        <img src="../../../../images/150.png" alt="Item 4">
        <h3>Vare 4</h3>
        <p>Beskrivelse af vare 4</p>
        <button>Se mere</button>
    </div>
    <div class="item">
        <img src="../../../../images/150.png" alt="Item 5">
        <h3>Vare 5</h3>
        <p>Beskrivelse af vare 5</p>
        <button>Se mere</button>
    </div>
    <div class="item">
        <img src="../../../../images/150.png" alt="Item 6">
        <h3>Vare 6</h3>
        <p>Beskrivelse af vare 6</p>
        <button onclick="window.location.href='./index.html';">Se mere</button>
    </div>

</body>
<!-- TODO: Tilføj java / javascript til button så den redirecter til eksempel annoncen -->
</html>