body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F7FF;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 20px;
    margin-top: 50px;
}

.item {
    width: 200px;
    height: 250px;
    margin: 10px;
    margin-bottom: 10%;
    background-color: #3DA5D9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item img {
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    margin-bottom: 10px;
}

.item h3 {
    font-size: 1.2em;
    margin: 10px;
}

.item p {
    font-size: 0.9em;
    margin: 10px;
}

.item button {
    background-color: #35524a;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.item button:hover {
    background-color: #FCAA67;
    color: #241623;
}

.topnav {
    font-family:  "Arial Black";
    background-color: #35524a;
    color: #F8F7FF;
    overflow: hidden;
    top: 0;
    position: sticky;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #F8F7FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FCAA67;
    color: #241623;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #3DA5D9;
    color: #F8F7FF;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}