body{
    background-color: #F8F7FF;
}


.topnav {
    font-family:  "Arial Black";
    background-color: #35524A;
    color: #F8F7FF;
    overflow: hidden;
    top: 0;
    position: sticky;

}


.topnav a {
    float: left;
    display: block;
    color: #F8F7FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #FCAA67;
    color: #241623;
}


.topnav a.active {
    background-color: #3DA5D9;
    color: #F8F7FF;
}


.topnav .icon {
    display: none;
}

.column{
    display: flex;
    position: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    list-style-type: none;
}

.blogpost{
    display: block;
    align-items: center;
    width: 100%;
}

