body{
    background-color: #F8F7FF;
}

/* Add a black background color to the top navigation */
.topnav {
    font-family:  "Arial Black";
    background-color: #35524A;
    color: #F8F7FF;
    overflow: hidden;
    top: 0;
    position: sticky;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #F8F7FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FCAA67;
    color: #241623;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #3DA5D9;
    color: #F8F7FF;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}