body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F7FF;
    font-family: "Microsoft New Tai Lue";
}

/* Add a black background color to the top navigation */
.topnav {
    font-family:  "Arial Black";
    background-color: #35524A;
    color: #F8F7FF;
    overflow: hidden;
    top: 0;
    position: sticky;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #F8F7FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FCAA67;
    color: #241623;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #3DA5D9;
    color: #F8F7FF;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    margin: 30%;
    margin-right: 30%;
    margin-top: 50px;
    background-color: white;
}

.article{
    align-items: center;
    max-width: 100%;
    display: block;
    overflow-wrap: break-word;
}

.blogimgcontainer{
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.blogimgcontainer img{
    height: auto;
    width: 100%;
}

.article button {
    background-color: #35524a;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.article button:hover {
    background-color: #FCAA67;
    color: #241623;
}


h2{
    color: #3DA5D9;
    justify-content: center;
}

